<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net48" />
  <package id="SolidWorks.Interop.sldworks" version="27.3.0" targetFramework="net451" />
  <package id="SolidWorks.Interop.swconst" version="27.3.0" targetFramework="net451" />
</packages>