<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Compass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <!--这里添加数据库连接字符串，我已经经过加密处理了-->
  <connectionStrings>
    <!--<add name="connString" connectionString="Server=PDMSERVER\SQLEXPRESSHALTON;Database=CompassDB;Uid=sa;Pwd=xxx;Pooling=true;Max pool size=10;Min pool size=5"/>-->
    <add name="connString" connectionString="9WkxMgzNs2Sb3UT5RKJF5JadAoWih5E9Wz3AsRndIa2cjAA9Izqi49f/CjwOU+YyjrWsCL5fgqd3jx/jTLqlEBUzQWQIJxutU0ks1tu6zeUBq4fR9l9FVpgTGL+uDDHFfM6sV8bcU9U2RaDAmNF1WVC/HTnha7Xk"/>
  </connectionStrings>
  <appSettings>
    <add key="proversion" value="1.0.0.1"/><!--设置当前软件的版本号-->
  </appSettings>
  
  <userSettings>
    <Compass.Properties.Settings>
      <setting name="UserAccount" serializeAs="String">
        <value/>
      </setting>
      <setting name="UserPwd" serializeAs="String">
        <value/>
      </setting>
    </Compass.Properties.Settings>
  </userSettings>
</configuration>
